span.boldy {
    font-weight: bold;
}

.boldy {
    font-weight: bold;
}

#btnDemo2 {
    width: 100%;
}

/* span#boldy {
}
span #boldy {
} */



body {
    text-align: center;
    color: pink;
    background: url("img/Tcat1.jpg");
    background-size: cover;
    background-color: whitesmoke;
    background-blend-mode: color-dodge;
     
  }
  
  .container {
    background-color: rgb(45, 202, 181);
    color: black;
    font-size: 24px;
    
   
    padding: 10px 24px;
  }
      
  
  h2 {
    color: pink;
    font-size: 36px;
  }
  
  
  #results {
    color: #e46f29;
  }
